/* .carousel_item img{
    object-fit: cover;
} */
  img{
    width:100% ;
    height:60vh ;

  }

  .card{
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeStyles{
  background-color: white;
}