.side_nav_container{
    width: 250px;
    height: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    align-items: stretch;
    position: static;
}
.filter_text{
    padding-left: 15px;
    padding-top:10px;
}
.price_text{
    padding-left: 15px;
}
.range_container{
    background-color: none;
}
.brands_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}



.checkbox_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.content label{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin:5px 10px;
    padding: 5px; */
}
/* .content input,.star_number{
    margin: 5px 10px;
} */
.collapsible{
    width: 100%;
    height: 2rem;
    border: none;
    background-color: white;
}
.hide{
    display: none;
}
.left{
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    /* padding-left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    float: right;
    /* margin: 5px; */
    padding: 5px;
    /* padding-right: 10px; */
    
    /* margin: 5px; */
    padding-bottom: 2px;
    /* padding-left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    margin-left: 10px;
}
.star_number{
    margin:5px;
}
.brands_checkbox {
    margin-left: 10px;
}
.applyFilter{
    background-color: white;
    height: 50px;
}
.applyFilter button{
    color: white;
    background-color: var(--new-color);
    border:none;
    width: 80px;
    height: 30px;
    margin-left: 80px;
   
}
/* .brands_content{

} */
label{
    margin: 0;
    padding: 0;
}
.applyBtn {
    margin: 10px;
}
